.UpperChatBox {
  background-color: #eb9776;
  font-size: 0.85em;
  text-align: center;
  line-height: 1.5;
  padding: 5px;
  box-sizing: border-box;
  padding-bottom: 40px;
  z-index: 20
}

.name,
.email,
.subject {
  width: 90%;
  height: 35px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid #9a9a9a;
  padding: 20px;
  box-sizing: border-box
}

.Form {
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box
}

.TextArea textarea {
  width: 100%;
  height: 60%;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  resize: none
}

.TextArea i {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  color: #c1cbd4;
  display: inline-block;
}

.TextArea i:hover {
  color: rgb(0, 0, 0, 0.7);
}

.TextArea {
  width: 90%;
  margin: 3px;
  border-radius: 3px;
  margin-left: 18px;
  box-sizing: border-box;
  height: 90px;
  border: 1px solid #9a9a9a;
  background-color: #ffffff;
  position: relative;

}

.SendButton {
  background-color: #eb9776;
  color: white;
  height: 50px;
  font-size: 1em;
  font-weight: 400;
  width: 90%;
  border: none;
  border-radius: 5px;
  margin-top: -10px;
  cursor: pointer;
}

.firstPara {
  display: flex;
  margin: 10px;
}

.firstPara p {
  margin: 0;
  flex: 1;
  align-self: flex-start
}

.fileUpload {
  width: 32px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0px;
  outline: none;
  z-index: -1;
}

.imageSelector {
  display: flex;
  justify-content: space-between
}

.imageCount {
  background: rgb(193, 203, 212);
  text-align: center;
  border-radius: 9999px;
  font-size: 0.8em;
  padding: 5px 8px;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
  margin-left: 19px;

}