.LogOut {
  padding: 10px;
  font-size: 1em;
  background-color: rgb(235, 151, 118);
  outline: none;
  border: none;
  color: white;
  box-shadow: white 0px 4px 8px 0px;
  position: fixed;
  right: 20px;
  top: 10px;
  border-radius: 10%;
  cursor: pointer;
}

.LogOut:active {
  transform: translateY(4px);
}

.LogOut:hover {
    box-shadow: white 0px 2px 17px 1px;

}
