.SuccessPage{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2b2b2b ;
}
.Success{
  width:500px;
  border:1px solid black;
  padding:30px;
  background: white;
}
.Success h1,.Success p{
  margin:30px;
  text-align: center;
}